<%= text_style.body %>

<div>
<%= form.fields_for :text_answers do |answer_attributes| %>
  <%= answer_attributes.hidden_field :id %>
  <%= answer_attributes.text_field :body, placeholder: "Answer" %>
<% end %>
</div>
