<% if target.errors.any? %>
  <%= image_tag "falcon_punch.gif" %>
  <h2><%= pluralize target.errors.count, "error" %> just Falcon Punched you in the face:</h2>

  <ul>
    <% target.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
